Fabric==1.10.0
Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
argparse==1.2.1
ecdsa==0.11
icalendar==3.8.4
itsdangerous==0.24
paramiko==1.15.1
pycrypto==2.6.1
pytz==2014.9
requests==2.4.3
requests-cache==0.4.6
wsgiref==0.1.2